* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

/* CONTAINER */
.container{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    height: 92vh;
    background-image: url('./media/pattern.png');
    /* background-size: cover; */
}

.container form input {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    margin: 20px 0;
    color: gray;
}

.container .card {
    background-color: rgb(220, 151, 151);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25%;
    max-width: 30%;
}

.container .card h2 {
    text-transform: capitalize;
}

/* FOOTER */
footer{
    /* position: absolute;
    bottom: 0; */
    width: 100%;
    background-color: black;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin-left: 6px;
    text-decoration: none;
    color: #800040;
}

footer a:hover{
    color: #800040;
    font-size: large;
}