* {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

#root {
    height: 100vh;
    background-image: url('./media/pattern.png');
}

/* HEADER */

header {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

header h1 {
    font-size: 3rem;
}

/* SECTION */

section {
    height: 82vh;
}

section form {
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

section form input {
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 0.8rem;
    margin: 20px 0;
    color: gray;
}

section .container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 72vh;
}

section .container .card {
    background-color: rgb(220, 151, 151);
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    max-width: 40%;
    height: 70%;
}

section .container .card h2 {
    text-transform: capitalize;
}

section .container .card .types {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
}

section .container .card .types p {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: bold;
    border: 1px solid black;
    padding: 0.2rem;
}

/* FOOTER */
footer{
    width: 100%;
    background-color: black;
    color: white;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer a{
    margin-left: 6px;
    text-decoration: none;
    color: #800040;
}

footer a:hover{
    color: #800040;
    font-size: large;
}